/*
================================
Overall Styles
================================
*/

input[type="text"] {
	width: 175px;
	height: 25px;
	font-size: 18px;
}

ul {
	padding: 0;
	list-style-type: none;
}


/*
================================
body
================================
*/

body {
	background-color: #ADD8E6;
	margin: 0px;
	font-family: Sans-serif;
}

/*
================================
Top Navigation
================================
*/
section.Twittler{
	background-color: #333;
	padding: 5px;
}

a#twittlerheader {
	color: white; 
	margin-left: 10px; 
	text-decoration: none; 
	font-weight: bold; 
	font-family: Comic Sans MS; 
	font-size: 36px; 
	text-shadow: 2px 2px 4px #87CEFA;
}

input#search {
	float: right;
	margin: 2px;
}

/*
================================
Twittler Feed
================================
*/

section#twittlerbody {
	margin-top: 10px;
	text-align: center;
}

.happenings {
	background-color: #F5F5F5;
	border-radius: 5px;
	background-color: white; 
	margin-left: 50px;
	float: left;  
	width: 700px;
	border-style: solid;
	border-width: thin;
}

label[for="viewpoint"] {
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #ADD8E6;

}

button[for="tweetles"] {
	font-size: 16px
}

.tweetles {
	border-top-style: solid;
	border-width: thin;
	height: 30px;
	padding: 3px;
}

/*
================================
User
================================
*/
li#user {
	float: right;
	background-color: #F5F5F5; 
	padding: 5px; 
	border-radius: 5px; 
	width: 350px; 
	font-size: 20px; 
	background-color: white; 
	margin-right: 50px; 
	border-style: solid;
	border-width: thin;
}

label[for="userheader"] {
	font-size: 24px	
	font-weight: none;
}

label[for="user"] {
	display: block;
	font-size: 20;
	text-shadow: 2px 2px 2px #87CEFA;
	font-weight: bold;
	border-style: inset;
	text-align: center;
}

label[for="userhandle"] {
	display: block;
	font-size: 16;
	text-align: center;
}
