/*
================================
Typography
================================
*/



/*
================================
body
================================
*/

body{
	background-color: #ADD8E6;
	margin: 0px;
}

/*
================================
Top Navigation
================================
*/
section.Twittler{
	background-color: #333;
	padding: 5px;
}

a#twittlerheader {
	color: white; 
	margin-left: 10px; 
	text-decoration: none; 
	font-weight: bold; 
	font-family: Comic Sans MS; 
	font-size: 36px; 
	text-shadow: 2px 2px 4px #87CEFA;
}

input#search {
	float: right;
	margin: 2px;
}

label#search {
	color: #87CEFA;
	float: right;
	margin: 2px;
}

/*
================================
Twittler Feed
================================
*/

section#twittlerfeed {
	margin-top: 10px
}

.happenings {
	background-color: #F5F5F5;
	border-radius: 5px;
	background-color: white; 
	margin-left: 10px; 
	float: left; 
	padding: 5px; 
	width: 325px;
}

label[for="what's happening"] {
	color: #778899; 
	font-size: 22px;
}

button[for="tweetles"] {
	font-size: 18px
}
