/*
================================
Typography
================================
*/

h1 {
	
}
h2 {
	
}

ul {
	list-style-type: none;
}


/*
================================
body
================================
*/

body {
	background-color: #ADD8E6;
	margin: 0px;
}

/*
================================
Top Navigation
================================
*/
section.Twittler{
	background-color: #333;
	padding: 5px;
}

a#twittlerheader {
	color: white; 
	margin-left: 10px; 
	text-decoration: none; 
	font-weight: bold; 
	font-family: Comic Sans MS; 
	font-size: 36px; 
	text-shadow: 2px 2px 4px #87CEFA;
}

input#search {
	float: right;
	margin: 2px;
}

label#search {
	color: #87CEFA;
	float: right;
	margin: 2px;
}

/*
================================
Twittler Feed
================================
*/

section#twittlerbody {
	margin-top: 10px;
}

.happenings {
	background-color: #F5F5F5;
	border-radius: 5px;
	background-color: white; 
	margin-left: 10px; 
	float: left; 
	padding: 5px; 
	width: 325px;
}

label[for="what's happening"] {
	color: #778899; 
	font-size: 22px;
}

button[for="tweetles"] {
	font-size: 16px
}


/*
================================
User
================================
*/
li#user {
	float: right;
	background-color: #F5F5F5; 
	padding: 5px; 
	border-radius: 5px; 
	width: 215px; 
	font-size: 20px; 
	background-color: white; 
	margin-right: 10px; 
}

label[for="userheader"] {
	font-size: 24px	
	font-weight: none;
	font-family: Comic Sans MS;
}

label[for="user"] {
	font-size: 20;
	text-shadow: 2px 2px 2px #87CEFA;
	font-weight: bold;
	border-style: inset;
}
